*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: sans-serif;
    color:rgba(255, 255, 255, 0.565);
}
.container{
    width:100%;
    height:100vh;
}
main{
    width:90%;
    height:90%;
}
/************************************** SideBar **************************************/
.sidebar{
    width:10%;
    height:90%;
    background-color: black;
    padding:1rem;
    overflow: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-item>img{
    width:100%;
}
.sidebar.flex-container{
    
}
[alt="logo"]{
    display:none;
}
.sidebar-item-name,.profile-name{
    display: none;
}
.sidebar-item{
    display:flex;
    align-items: center;
    margin-bottom:0.5rem;
    gap:0.5rem;
}
.sidebar-item>[alt="profile"]{
    margin-top:0.5rem;
    height:2rem;
    width:2rem;
    background-color: grey;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.sidebar-item>[alt="download"]{
    height:1rem;
}
.sidebar-playlist{
    margin-top:2rem;
    display: none;
    flex-direction: column;
}
.sidebar-item .fa-square-plus{
    font-size: 2rem;
}
hr{
    display:none;
    height:1px;
    border:none;
    background-color:grey;
}
/************************************** Upgrade **************************************/
.upgrade{
    background-color: rgb(8, 11, 18);
    width:100%;
    height:15%;
    padding-right:0.3rem;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
/************************************** Content **************************************/
.content{
    background-color: rgb(20, 25, 34);
    height:85%;
    overflow: auto;
    padding:0 1rem;
}
.category{
    margin-top:1rem;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}
.category-item{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    font-size: 0.8rem;
}
.songs{
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
}
.songs-item{
    width:calc(50% - 0.5rem);
}
.songs-item img{
    width:100%;
}
.songs-item-title{
    color:white;
    text-align: center;
    padding-top:1rem;
    padding-bottom:1rem;
}
.songs-item-subtitle{
    text-align:center;
    font-size: 0.8rem;
}
[alt="artist"]{
    border-radius: 50%;
}
/************************************** ControlBar **************************************/
.controlbar{
    width:100%;
    height:10%;
    background-color: rgb(40, 40, 40);
    color:white;
}
/************************************** Tablet **************************************/
@media screen and (min-width:650px){
    .sidebar{
        width:30%;
    }
    main{
        width:70%;
    }
    .sidebar-item-name,.profile-name{
        display: inline-block;
    }
    .profile-name{
        color:white;
        font-weight: bold;
    }
    .sidebar-item>img{
        width:10%;
    }
    [alt="logo-small"]{
        display: none;
    }
    .sidebar-item>[alt="logo"]{
        display:block;
        width:70%;
        margin-bottom:2rem;
    }
    .sidebar-playlist{
        display: flex;
    }
    hr{
        display:block;
    }
}
/************************************** big Tablet **************************************/
@media screen and (min-width:900px){
    .sidebar{
        width:25%;
    }
    main{
        width:75%;
    }
    .songs-item{
        width:calc((100% - 3rem) /4);
    }
}
/************************************** Desktop **************************************/
@media screen and (min-width:1200px){
    .sidebar{
        width:calc(100% / 6);
    }
    main{
        width:calc(100% * 5 / 6);
    }
}
